<h2 style="text-align: center;">Sign Up for SMS Messages</h2>

<form id="smsSignupForm" action="https://formspree.io/f/mwpegkdv" method="POST">
  
  <!-- Full Name -->
  <label for="full-name">Full Name:</label>
  <input type="text" id="full-name" name="name" autocomplete="name" required>
  
  <!-- Phone Number -->
  <label for="phone">Phone Number:</label>
  <input type="tel" id="phone" name="tel" autocomplete="tel" required>
  
  <!-- Email -->
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" autocomplete="email" required>

  <button type="submit" style="align">Sign Up</button> <button type="submit" style="align">Remove Me</button>
</form>